h1{
	    text-align: center;
}





#amount{
	
		width: 1140px;
	 display: inline-block;
	 margin-left: 2px;
}


#button1{
	 margin-left: 400px;
	 margin-top: 10px;
}
#button2{
	
	  margin-top: 10px;
   
}

#button3{
		  margin-top: 10px;

}
    
#list{
	margin-left: 500px;
	margin-top: 10px;

	
}


#tabe{
	
    margin-left: 10px;
	 
}


#lbl1,#lbl2{
	margin-left: 600px;
	 margin-top: 60px;
}





